:root{
    --branco: #fff;
    --preto: #000;

    --roxo: #7022D2;
    --roxo-escuro: #721181;
    --roxo-fraco: #A212B9;
    --rosa: #E1A4FE;

    --background: #1e1e1e;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
        font-family: 'Inter', sans-serif;
    /* background: linear-gradient(to bottom, #7022d2 25%,#a212b9 70.83%,#E1A4FE 100%); */
}
.container{
    background: linear-gradient(to bottom,#7022d2,#A212B9,rgb(228, 176, 230));
}
.header{
    /* background: linear-gradient(to bottom,rgba(0, 0, 0, 0.829),#7022D2); */
    
    width: 100%;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;

    /* background: #7022D2;*/
}
.header ul{
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* border: 2px  solid red; */
    list-style: none;
}

.container{
    /* border: 2px solid green; */
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-link a{
    /* border: 2px solid yellow; */
    text-decoration: none;
    text-transform: uppercase;
    color: var(--branco);
    font-size: 0.95rem;
    padding: 1.5rem 1rem;
}
img{
    height: 210px;
    width: 230px;
    right: 545px;
    top: -55px;
    /* border: 2px solid black; */
}
.menu-link a:hover{
    text-decoration: underline;
    text-decoration-color: var(--rosa);
}
.main{
    /* background-color: var(--roxo); */
    width: 100%;
    height: 100%;
}
.conteudo-titulo{
    color: var(--branco);
    text-transform: uppercase;
    /* font-weight: 200; */
    margin: 13rem 0 3rem 0;
    text-align: center;
}
.conteudo-shows{
    /* border: 2px solid red; */
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-evenly; /* space-evenly = deixa o espaço entre as caixas iguais*/
}
.descricao-show{
    /* border: 2px solid yellow; */
    padding: 2rem;
    width: 20%;
}
.descricao-conteudo{
    background-color: #fff;
    padding: 2rem;
}   
.btn{
    height: 55px;
    width: 174px;
    margin-top: 1rem;

    cursor: pointer;
    background-color: #D9D9D9;

    font-weight: bold;
    font-size: 20px;
    line-height: 150.52%;
    border-radius: 8px;
    text-transform: uppercase;
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 22rem;
}
.btn-mss{
    height: 222px;
    width: 619px;

    color: #fff;
    background-color: var(--background);
    border: 2px solid #fff;
    border-radius: 8px;
    text-align: center;
    text-transform: uppercase;

    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 150.52%;
}

/* Tela de Login */

.interacao{
    height: auto;
    width: auto;
    margin-top: 7rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.login{
    /* border: 2px solid red; */
    padding: 3rem;
    width: 40%;
    margin-right: 15rem;
    margin-bottom: 18rem;
    /* margin-left: -7rem; */
}
.login img{
    /* border: 2px solid red; */
    height: 445px;
    width: 450px;
    margin:-40px 0 0 6rem;
}
.login p{
    font-weight: 400;
    font-size: 20px;

    margin-top: -7rem;
}
.form{
    /* border: 2px solid blue; */
    padding: 5rem;
    background-color: rgba(0, 0, 0, 0.30);
    border-radius: 10px;
}
.form input{
    height: 87px;
    width: 508px;
    padding: 2rem;
    

    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    background-color: #232323;
    border: 1px solid #fff;
    border-radius: 6px;
}
.input-email input{
    margin-bottom: 66px;
}
.input-senha input{
    background-image: url(../assets/img/eye-slash.svg);
    background-repeat: no-repeat;
    background-position: 29rem;

    margin-bottom: 25px;
}
.form p{
    /* border: 2px solid green; */
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;

    margin-bottom: 2rem;

    text-align: center;
}
.botao-entrar{
    height: 81px;
    width: 508px;

    margin-top: 1rem;
    margin-bottom: 2rem;

    background-color: #fff;
    border: 1px solid #232323;
    border-radius: 6px;
    text-transform: uppercase;

    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}
.redes-sociais{
    display: flex;
    justify-content: center;
    gap: 6rem;
   
    text-decoration: none;
}
/* Tela de compra do evento */

.foto-evento{
    margin-top: 6rem;
}
.foto-evento img{
    height: 80%;
    width: 80%;

    margin-left: 12rem;
}
.sobre-o-evento{
    display: flex;
    justify-content: space-between;
}
.sobre-esse-evento{
    width: 50%;
    margin: 2rem 0 0 11rem;

    padding: 2rem;

    font-weight: 300;
    font-size: 32px;
    line-height: 100%;
}
.resumo-da-compra{
    width: 20%;
    padding: 2rem;
    margin: 2rem 11.3rem 0 0;

    background-color: #fff;
}
.btn-comprar{
    height: 90px;
    width: 250px;

    margin-left: 1.6rem;
    margin-top: 4rem;

    background-color: #000;
    border: 3px solid #fff;
    border-radius: 10px;

    color: #fff;
    font-weight: bold;
    font-size: 30px;
    line-height: 145.52%;
}