:root{
    --branco: #fff;
    --preto: #000;

    --roxo: #7022D2;
    --roxo-escuro: #721181;
    --roxo-fraco: #A212B9;
    --rosa: #E1A4FE;

    --background: #1e1e1e81;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background: linear-gradient(to bottom, #7022d2 25%,#a212b9 70.83%,#E1A4FE 100%); */
}
.header{
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.829),#7022D2);
    
    width: 100%;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.header ul{
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* border: 2px  solid red; */
    list-style: none;
}

.container{
    /* border: 2px solid green; */
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-link a{
    /* border: 2px solid yellow; */
    text-decoration: none;
    text-transform: uppercase;
    color: var(--branco);
    font-size: 0.95rem;
    padding: 1.5rem 1rem;
}
img{
    height: 210px;
    width: 230px;
    right: 545px;
    top: -55px;
    /* border: 2px solid black; */
}
.menu-link a:hover{
    text-decoration: underline;
    text-decoration-color: var(--rosa);
}
.main{
    background-color: var(--roxo);
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,#7022d2,#721181,#7022D2,rgb(0, 0, 0));
}
.conteudo-titulo{
    color: var(--branco);
    text-transform: uppercase;
    /* font-weight: 200; */
    margin: 1.2rem;
    text-align: center;
}
.conteudo-shows{
    /* border: 2px solid red; */
    /* background-color: rgba(162, 0, 255, 0.582); */
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-evenly; /* space-evenly = deixa o espaço entre as caixas iguais*/
}
.descricao-show{
    /* border: 2px solid yellow; */
    padding: 2rem;
    width: 20%;
}
.descricao-conteudo{
    background-color: var(--branco);
}   